<div class="card character-container">
   
    <img class="card-img-top imgCharacter" ng-src="{{ctrl.character.thumbnail.path + '/standard_xlarge.jpg'}}" alt="ImageCharacter">

    <div class="card-body">
        <div class="card-title">
            <h5>{{ctrl.character.name}}</h5>
        </div>
        <p class="card-text descriptionCharacter">
            {{ctrl.character.description ? ctrl.character.description : "there's no description for the character"}}
        </p>
        
    </div>
    <a class="detalhes btn btn-primary col-xs-3 text-center" ng-click="ctrl.seeDetails()">
        Detalhes
    </a>
</div>