<section ng-controller="HomeController as ctrl">
    <div class="characters-container text-center">
        <header class="head">
            <div class="headerimg">
                <!-- <img class="imgPainel" src="assets/img/banner-logo-marvel-2.jpg" alt="Panel"> -->
                <img class="imgPainel" src="assets/img/banner-logo-marvel-1.jpg" alt="Panel">
            </div>

            <form name="SearchCharacter ">
                <search-character search-name = "ctrl.searchName"
                search = "ctrl.search()"></search-character>
            </form>  

            <form name="limitCharacter">
                <button class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false">
                    Limit ({{ctrl.limit}})
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                    ng-click="ctrl.switchLimit(limit)"
                    ng-repeat="limit in ctrl.limits">
                        {{limit}}
                    </a>
                </div>
        
                <!-- <limit-character buttonLimit="ctrl.limits" limit="ctrl.limit"></limit-character>  -->
            </form>

        </header>

        <div class="row">
            <body>
                <div ng-repeat="character in ctrl.characters" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <list-character-item character="character" 
                    see-details="ctrl.seeDetails(character)"></list-Character-Item>
                </div>
            </body>
        </div>

        <div class="pagination col-sm-12 col-md-12 col-lg-12">
            <div class="seeMore" ng-if="ctrl.characters.length > 0">
                <button class="btn btn-primary"
                ng-click="ctrl.seeMore()">
                    Ver mais
                </button>
            </div>
        </div>

        <footer class="footer" ng-if="ctrl.characters.length > 0">
            <div class="footerHome">
                <h5>Projeto Marvel-Api</h5>
            </div>
        </footer>
    </div> 
</section>